@font-face {
  font-family: "Hanken Grotesk Medium";
  src: url("assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Hanken Grotesk Medium";
}

.result-and-summary__container {
  display: flex;
  width: 720px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 1rem;
  box-shadow: 1.5rem 1.5rem 1.5rem 1.5rem rgba(177, 197, 251, 0.13);
}

.result {
  display: flex;
  border-radius: 1rem;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 360px;
  height: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.result .result__container h3 {
  color: hsl(241, 100%, 89%);
  font-size: 18px;
  margin-bottom: 2rem;
}

.result .result__container .result__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.result__container .result__circle .result__score {
  font-size: 18px;
  color: hsl(225, 23%, 66%)
}

.result__score::first-line,
.result__message {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  font-size: 72px;
}

.result__message {
  width: 240px;
  font-weight: 300;
  font-size: 18px;
  color: hsl(242, 54%, 85%);
}

.result__message h1 {
  color: hsl(0, 0%, 100%);
}

.summary__container {
  border-radius: 1rem;
  margin: 3rem;
  margin-bottom: 1rem;
}

.summary .summary__container .category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 40px;
  border-radius: 0.7rem;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 1rem;
}

.summary .summary__container .category img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.5rem;
}

.summary .summary__container .category-reaction {
  color: hsl(0, 100%, 67%);
  background-color: rgb(248, 242, 242);
}

.summary .summary__container .category-memory {
  color: hsl(39, 100%, 56%);
  background-color: rgb(255, 255, 241);
}

.summary .summary__container .category-verbal {
  color: hsl(166, 100%, 37%);
  background-color: rgb(242, 254, 241);
}

.summary .summary__container .category-visual {
  color: hsl(234, 85%, 45%);
  background-color: rgb(239, 238, 250);
}

.score-container {
  display: flex;
}

.score {
  font-size: 18px;
  color: black;
}

.score-suffix {
  color: grey;
}

#continue__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 270px;
  height: 60px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  margin: auto;
  margin-top: 2rem;
}

#continue__button:hover {
  cursor: pointer;
}
